<%-include('include/_header')%>
<%-include('include/_sidebarleft')%>

<main id="site-main">
    <div class="container">
    

        <form action="/" method="POST" id="afficher_user">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Nom et Prenom</th>
                        <th>Cin</th>
                        <th>E-mail</th>
                        
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%-include('include/_showuser')%>
                </tbody>
            </table>
        </form>
    </div>

</main>
<%-include('include/_footer')%>