

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/ajouter_offre" class="border-shadow">
                <span class="text-gradient"><i class="fas fa-plus"></i> CRÉER UNE OFFRE D'EMBAUCHE </span>
            </a>
        </div>
       
        <form action="/" method="POST" id="indexform">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Priorité</th>
                        <th>Titre</th>
                        <th>Date de création</th>
                        <th>Date de clôture</th>
                        <th>Recruteur</th>
                        <th>Status</th>
                        <th>Action </th>
                    </tr>
                </thead>
                <tbody>
        
                </tbody>
            </table>
        </form>
    </div>

</main>
<%-include('include/_footer')%>