<%-include('include/_header')%>
<%-include('include/_sidebarleft')%>

<main id="site-main">
    <div class="container">

        <form class="candidature-form" method="POST">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th class="bg-primary">Liste des postulants</th>
                    </tr>
                    <thead class="thead-dark">
                    <tr>
                        <th>Nom et Prenom</th>
                        <th>CIN</th>
                        <th>Date de postulation</th>
                        <th>E-Mail</th>
                        <th>Telephone</th>
                        <th>Score</th>
                        <th>Action</th>         
                    </tr>
                    
                    </thead></thead>
                <tbody>
                    <%-include('include/_showpost')%>
                </tbody>
            </table>
        </form>
    </div>

</main>


<%-include('include/_footer')%>