<style>
    
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
</style>
<footer>
	<p>
		
		<a target="_blank" href="http://www.sonede.com.tn">Sonede.com.tn</a>
		- Rue Jawaharlal Nehru Montfleury 1089 Tunis Chebbi, Tunis.
		- 71 390 569 / 71 390 369.
	</p>
</footer>