
<style>
    body {

  font-family: "Quicksand";
  font-size: 1em;
  line-height: 1.375em;
  padding: 0;
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
}

.avatar {
  text-align: center;
        background: #eee;
     margin-top: 0%;
     margin-bottom: 0%;
     margin-left: 1.5%;
     margin-right: 2.5%;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        overflow: hidden;
      
        position: relative;
        border: 1px solid rgb(71, 74, 255);
        border-radius: 100%;
}

nav {
  margin: 0;
  width: 100%;
  background: #1E1E1E;
  display: table;

  text-align: center;
  height: 45px;
  border: none;
  border-width: 0;
  margin: 0;
  padding: 10px 10px;
}





.intro {
  display: inline-block;
  width: 100%;
  padding: 90px 0 120px;
  background-color: #2A2332;
  background-size: cover;
  font-size: 1.9em;
  text-align: center;
  color: #FFF;
}

h1 {
  font-weight: medium;
  text-shadow: 5px 5px 10px black;
}

</style>
<body>

  <!--navbar-->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img class="avatar" src="" alt></a>

    <!--Toggle Button-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>

    <!--Navbar links-->
    <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <li class="nav-item">
            <a class="nav-link " href="/home" ">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>

          
      </ul>
    </div>
  </nav>


 